<ion-view>
    <ion-content>
        <div class="bar bar-header">
            <a ng-click="goHome()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
            <div class="h1 title">Reserva Fácil</div>
        </div>
        <br>

        <div id="divImgEstabelecimento" class="item">
            <img class="full-image" src="http://i.imgur.com/AKzer2d.jpg">
        </div>
        <div id="divDetalhesEstabelecimento" class="row">
            <!--<div id="divAvatar" class="row col-20 row-left">-->
            <div class="item item-thumbnail-left item-icon-right row col-30 row-left ">
                <img class="full-image" src="img/ionic.png">

            </div>
        </div>

    </ion-content>
</ion-view>
