<ion-view>
    <ion-content>
        <!--<div class="bar bar-header">
            <button class="button button-icon icon ion-navicon"></button>
            <div class="h1 title"></div>
            <button ng-click="goCad()" class="button button-clear icon ion-more  button-dark"></button>
        </div>
        <br>
        <br>-->
        <!--Aqui-->
        <div class="row row-center" data-ng-init="consulta()">
            <div id="divAvatar" class="col col-center text-center">
                <a class="item item-thumbnail-center semBorda" ng-click="goCad()">
                    <img src="img/gatuno.jpg">
                    <p>Olá, Sr Dougras!</p>
                </a>
            </div>
        </div>
        <div class="button-bar item">
            <a class="button button-icon icon ion-home" ></a>
            <a class="button button-icon icon ion-heart"></a>
            <button ng-click="consulta()"> teste</button>
        </div>
        <div class="semBorda" ng-repeat="estabelecimento in vm.estabelecimentos">
            <div class="item item-thumbnail-left item-icon-right">
                <img src="{{estabelecimento.url_img}}">
                <h3 class="titleList">{{estabelecimento.nome}}</h3>
                <p class="line-break">{{estabelecimento.categoria}}</p>
                <a class="button button-icon icon ion-star" ng-click="goReserva()"></a>
            </div>
        </div>
    </ion-content>
</ion-view>