<ion-view>
    <ion-content>
        <!--<div class="bar bar-header">
            <button class="button button-icon icon ion-navicon"></button>
            <div class="h1 title"></div>
            <button ng-click="goCad()" class="button button-clear icon ion-more  button-dark"></button>
        </div>
        <br>
        <br>-->
        <!--Aqui-->
        <div class="row row-center">
            <div id="divAvatar" class="col col-center text-center">
                <a class="item item-thumbnail-center semBorda" href="#">
                    <img src="img/gatuno.jpg">
                    <p>Olá, Sr Dougras!</p>
                </a>
            </div>
        </div>
        <div class="button-bar item">
            <a class="button button-icon icon ion-home"></a>
            <a class="button button-icon icon ion-heart"></a>
        </div>
        <div class="semBorda">
            <div class="item item-thumbnail-left item-icon-right">
                <img src="img/logo2.png">
                <h3 class="titleList">Milani Agropet</h3>
                <p class="line-break">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <!--<i class="icon ion-star"></i>-->
                <a class="button button-icon icon ion-star"></a>
            </div>
            <div class="item item-thumbnail-left item-icon-right">
                <img src="img/dougras.png">
                <h3 class="titleList">Milani Agropet</h3>
                <p class="line-break">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a class="button button-icon icon ion-star"></a>
            </div>
            <div class="item item-thumbnail-left item-icon-right">
                <img src="img/ionic.png">
                <h3 class="titleList">Milani Agropet</h3>
                <p class="line-break">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a class="button button-icon icon ion-star"></a>
            </div>
        </div>
    </ion-content>
</ion-view>