<ion-view>
    <ion-content>
        <div id="divImgEstabelecimento" class="item semBorda">
            <img class="full-image semBorda" src="http://i.imgur.com/AKzer2d.jpg">
        </div>
        <div id="divDetalhesEstabelecimento" class="row ">
            <!--<div id="divAvatar" class="row col-25 row-left">-->
            <div class="item item-thumbnail-left item-icon-right row col-25 row-left semBorda">
                <img src="img/ionic.png">
            </div>
            <div class="row col row-center text-center ">
                <h4 class="mesma-linha">Milani Agropet</h4>
                <p class="quebra-sem-espaco">Rua das Árvores, 931. Estação.</p>
                <p class="quebra-sem-espaco">Telefone:(99) 9999-9999</p>
            </div>
        </div>
        <div id="divReserva" class="row">
            <br>
            <h4 class="border-top"></h4>

            <div id="divData" class="row col">
                <ion-list>
                    <label class="item item-input">
                        <span class="input-label">Data:</span>
                        <input type="date" ng-model="dataReserva">
                    </label>
                </ion-list>
            </div>
            <div id="divHorario" class="row col" style="margin-top:7px;">
                <label class="item item-input">
                        <span class="input-label">Horário:</span>
                        <input type="text" ng-model="horario">
                    </label>
            </div>
        </div>
        <!--Combo de serviços oferecidos-->
        <div id="divServicos col">
            <label class="item item-input item-select">
            <div class="input-label">
             Serviços:
            </div>
            <select ng-model="mySelect"  ng-change="showSelectValue(mySelect)">
                <option value="" disabled>Selecione</option>
                <option  ng-repeat="servico in servicos" value = "{{servico.id}} ">{{servico.nome}} {{servico.valor}}</option>
            </select>
            </label>
            <!--Combo formas de pagamento-->
            <label class="item item-input item-select">
            <div class="input-label">
             Forma de Pagamento:
            </div>
            <select ng-model="formaPagamento" ng-change="pegaFormaPagamento(formaPagamento)">
                <option value="" disabled>Selecione</option>
                <option  ng-repeat="pagamento in pagamentos" value = "{{pagamento.id}} ">{{pagamento.nome}}</option>
            </select>
            </label>
        </div>
        <br>
        <!--Botões-->
        <div id="divBtns" class="row has-footer">
              <div id="btnConfirma" class="row col-50">
                <button class="button button-block button-balanced icon icon-left ion-checkmark-circled" ng-click="addService()">Confirmar</button>
            </div>
            <br>
            <div id="btnConfirma" class="row col-50">
                <button class="button button-block button-assertive icon icon-left ion-android-cancel">Cancelar</button>
            </div>
        </div>






    </ion-content>
</ion-view>